@using Microsoft.AspNetCore.Identity
@inject SignInManager<MyIdentityUser> SignInManager
@inject UserManager<MyIdentityUser> UserManager
@using DA3B_Project_Grp1.Models



<ul class="navbar-nav me-auto order-0">
    @if (SignInManager.IsSignedIn(User))
    {
        @if (@User.IsInRole("Admin"))
        {
            <li class="nav-item">
                <a class="nav-link text-light" asp-controller="Administration" asp-action="listroles" title="Manage">List Roles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" asp-controller="Administration" asp-action="CreateRole" title="Manage">Add Role
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" asp-controller="Administration" asp-action="EditRole" title="Manage">Edit Role
                </a>
            </li>
             <li class="nav-item">
                <a class="nav-link text-light" asp-controller="Administration" asp-action="EditUsersInRole" title="Manage">Add Users
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Manage Profile</a>
            </li>
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-light">Logout</button>
                </form>
            </li>

        }
        else if (User.IsInRole("Student"))
        {
            <li class="nav-item">
                <a class="nav-link text-light" asp-controller="Projects" asp-action="Index" asp-route-Id=@User.Identity.Name>My Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" asp-controller="SubmissionDetails" asp-action="Index" asp-route-Id=@User.Identity.Name>My Submission</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Manage Profile</a>
            </li>
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-light">Logout</button>
                </form>
            </li>

        }

        @*<li class="nav-item">
                <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello</a>
            </li>
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-light">Logout</button>
                </form>
            </li>*@
    }
    else
    {
        <li class="nav-item pr-3">
            <a class="nav-link btn btn-primary text-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-success text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>

    }
</ul>


